<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой профиль</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <h2>Мой профиль</h2>
    <div class="profile-photo-container">
        {% if photo_base64 %}
            <img src="data:image/png;base64,{{ photo_base64 }}" alt="Profile Photo" class="profile-photo">
        {% else %}
            <p>Фото профиля отсутствует</p>
        {% endif %}
    </div>
    <p><strong>Логин:</strong> {{ user.username }}</p>
    <p><strong>Роль:</strong> {{ user.role }}</p>
    {% if user.role == 'грешная душа' %}
        <p><strong>Имя:</strong> {{ user.first_name or 'Не указано' }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name or 'Не указано' }}</p>
        <p><strong>Отчество:</strong> {{ user.middle_name or 'Не указано' }}</p>
        <p><strong>Возраст:</strong> {{ user.age or 'Не указано' }}</p>
        <p><strong>Пол:</strong> {{ user.gender or 'Не указано' }}</p>
        <p><strong>Дата регистрации:</strong> {{ user.registration_date }}</p>
        <p><strong>Список грехов:</strong></p>
        {% set sins_list = user.sins | fromjson %}
        <ul>
            {% for sin in sins_list %}
                <li>{{ sin }}</li>
            {% endfor %}
        </ul>
        <!-- Кнопка для перехода на форму редактирования -->
        <form action="{{ url_for('editprofile', username=user.username) }}" method="get">
            <button type="submit">Изменить данные</button>
        </form>
    {% else %}
        <p><strong>Имя:</strong> {{ user.first_name or 'Не указано' }}</p>
        <p><strong>Грех:</strong> {{ user.sin or 'Не указан' }}</p>
    {% endif %}
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Выйти</button>
    </form>
    <button onclick="window.location.href='/index'">Назад</button>
</body>
</html>
