<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/reg.css">
</head>
<body>
    <h1>Регистрация</h1>

    <form method="POST" action="{{ url_for('register') }}">
        <label for="username">Логин:</label>
        <input type="text" name="username" id="username" placeholder="Введите логин" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" placeholder="Введите пароль" required><br><br>

        <button type="submit">Зарегистрироваться</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <i style="color: red;">{{ message }}</i>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </form>

    <button onclick="window.location.href='/'">Назад</button>
</body>
</html>
